<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center> <font color= #004A94> <font size = 6> Lic. Ingeniería Financiera </font> <br> <br> <font color= #AABCBB> <font size = 4>I.F. Karen Violeta García Hernandez - if707178@iteso.mx </font>

<center><font color=#50C8C4><font size=5> Laboratorio 2: Behavioral Finance </font> <br> <br>

<center> <font color= #004A94 > <font size = 4> Primavera 2020 </font>  |  <font color= #004A94> <font size = 4> Repositorio: <a href='https://github.com/violetarcia/LAB_02_KVGH.git'>Link</a></font>

______

<div style="text-align:center"><span style="color:#50C8C4; font-family:Georgia; font-size:2.2em;"> Resumen </span></div>

<p style = "font-family: Calibri Light; font-size:1.3em;color:black; LINE-HEIGHT:25px"> Este laboratorio tiene como propósito particular el elaborar herramientas para el análisis del desempeño de la actividad de trading, desde el punto de vista de la cuenta y desde el punto de vista de la persona que opera la cuenta (trader). Por lo tanto, este laboratorio estará dividido en 4 partes, cada una, servirá para cumplir con la estructura básica de proyectos para sistemas de trading y las otras 3 partes son relacionadas cada una a los propósitos del módulo completo </p>

______

<div style="text-align:center"><span style="color:#50C8C4; font-family:Georgia; font-size:2.2em;"> Código </span></div>

<p style = "font-family: Calibri Light; font-size:1.3em;color:black; LINE-HEIGHT:25px"> A continuación se desglosa el código con el cual se analiza la divisa eurodólar. Primero se empieza importando paqueterías y archivos que nos serán útiles: </p>

In [10]:
import funciones as fn                              # Para procesamiento de datos
#import visualizaciones as vs                        # Para visualizacion de datos
import pandas as pd                                 # Procesamiento de datos

In [2]:
# Leer archivo (el de Francisco es el 2)
data = fn.f_leer_archivo('archivo_tradeview_2.xlsx')
data.head()

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit
0,24316034,2019.08.27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019.08.27 09:16:01,1533.69000,0.0,0,0,17.92
1,24334215,2019.08.27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019.08.29 06:38:16,117.37400,0.0,0,0,-2.73
2,24342155,2019.08.27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019.08.28 21:01:24,117.45200,0.0,0,0,5.00
3,24373260,2019.08.28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019.08.29 06:38:28,1.10818,0.0,0,0,0.27
4,24392415,2019.08.29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019.08.29 06:37:23,1.21990,0.0,0,0,-0.34

In [3]:
# Agregar la columna de los tiempos
fn.f_columnas_tiempos(data)

# Agregar columna de pips
fn.f_columna_pips(data)

data.head()

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit,time,pips,pips_acm,profit_acm
0,24316034,2019-08-27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019-08-27 09:16:01,1533.69000,0.0,0,0,17.92,8291.0,44.8,44.8,17.92
1,24334215,2019-08-27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019-08-29 06:38:16,117.37400,0.0,0,0,-2.73,135116.0,-29.0,15.8,15.19
2,24342155,2019-08-27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019-08-28 21:01:24,117.45200,0.0,0,0,5.00,92145.0,10.6,26.4,20.19
3,24373260,2019-08-28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019-08-29 06:38:28,1.10818,0.0,0,0,0.27,48415.0,2.7,29.1,20.46
4,24392415,2019-08-29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019-08-29 06:37:23,1.21990,0.0,0,0,-0.34,116.0,-3.4,25.7,20.12

In [4]:
# DataFrames de Estadisticas basicas y ranking
df_1_tabla, df_2_ranking = fn.f_estadistica_ba(data)
df_1_tabla

                    Valor                             Descripcion
Ops totales            84                     Operaciones totales
Ganadoras              46                   Operaciones ganadoras
Ganadoras_c            20         Operaciones ganadoras de compra
Ganadoras_v            26          Operaciones ganadoras de venta
Perdedoras             38                  Operaciones perdedoras
Perdedoras_c           19        Operaciones perdedoras de compra
Perdedoras_v           19         Operaciones perdedoras de venta
Media (Profit)      1.205    Mediana de profit de las operaciones
Media (Pips)          3.6      Mediana de pips de las operaciones
r_efectividad    0.547619   Ganadoras Totales/Operaciones Totales
r_proporcion      1.21053   Ganadoras Totales/ Perdedoras Totales
r_efectividad_c  0.238095  Ganadoras Compras/ Operaciones Totales
r_efectividad_v  0.309524   Ganadoras Ventas/ Operaciones Totales

In [5]:
df_2_ranking

         ranking
btcusd  1.000000
eurgbp  1.000000
usdmxn  0.800000
xauusd  0.736842
gbpusd  0.666667
usdjpy  0.600000
eurusd  0.478261
audusd  0.333333
eurjpy  0.285714
usdcad  0.285714
gbpjpy  0.250000

Parte III

In [11]:
# Agregar capital acumulado
fn.f_columna_capital_acm(data)
data.head()

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit,time,pips,pips_acm,profit_acm,capital_acm
0,24316034,2019-08-27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019-08-27 09:16:01,1533.69000,0.0,0,0,17.92,8291.0,44.8,44.8,17.92,5017.92
1,24334215,2019-08-27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019-08-29 06:38:16,117.37400,0.0,0,0,-2.73,135116.0,-29.0,15.8,15.19,5015.19
2,24342155,2019-08-27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019-08-28 21:01:24,117.45200,0.0,0,0,5.00,92145.0,10.6,26.4,20.19,5020.19
3,24373260,2019-08-28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019-08-29 06:38:28,1.10818,0.0,0,0,0.27,48415.0,2.7,29.1,20.46,5020.46
4,24392415,2019-08-29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019-08-29 06:37:23,1.21990,0.0,0,0,-0.34,116.0,-3.4,25.7,20.12,5020.12

In [7]:
# DataFrame de profits
df_profit = fn.f_profit_diario(data)
df_profit.head()

   timestamp  profit_d  profit_acm
0 2019-08-27     27.61     5027.61
1 2019-08-28      5.00     5032.61
2 2019-08-29     -1.52     5031.09
3 2019-08-30    -17.16     5013.93
4 2019-08-31      0.00     5013.93

In [8]:
# Agregar rendimientos 
fn.log_dailiy_rends(df_profit, 'profit_acm')

# Columnas de drawdown
fn.drawdown(df_profit, 'profit_acm')

df_profit.head()

   timestamp  profit_d  profit_acm     rends   down       up
0 2019-08-27     27.61     5027.61       NaN   0.00  5027.61
1 2019-08-28      5.00     5032.61  0.000994   0.00  5032.61
2 2019-08-29     -1.52     5031.09 -0.000302  -1.52  5032.61
3 2019-08-30    -17.16     5013.93 -0.003417 -18.68  5032.61
4 2019-08-31      0.00     5013.93  0.000000 -18.68  5032.61

In [9]:
# Estadisticas de metricas de desempeño
df_profit_estad = fn.f_estadisticas_mad(df_profit)
df_profit_estad

                        0
Sharpe           0.152182
Sortino_c        0.121494
Sortino_v        0.193358
Drawdown_capi_c  0.031574
Drawdown_capi_u -0.052792
Information      0.984287

Parte IV